{
  "presets": ["next/babel", "@emotion/babel-preset-css-prop"],
  "plugins": [
    ["emotion"],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
